$primary: $blue !default;

$text: $black !default;
$family-primary: $family-raleway !default;

$bottom-spacing-small: 1rem !default;
$bottom-spacing-medium: 1.5rem !default;
$bottom-spacing-large: 2.5rem !default;

$radius: 4px !default;
