
// Responsive
$mobile: 400px !default;
$tablet: 550px !default;
$dekstop: 1000px !default;
$desktop-hd: 1200px !default;

$black: #222 !default;
$blue: #33C3F0 !default;
$dark-blue:  #0FA0CE;
$light-blue: #1EAEDB;
$white: #fff !default;
$light-grey: #E1E1E1 !default;
$dark-grey: #D1D1D1 !default;
$grey: #555;


$family-raleway: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-seri;
