
// Responsive
$mobile: 400px !default;
$tablet: 550px !default;
$dekstop: 1000px !default;
$desktop-hd: 1200px !default;

$black: #222 !default;
$blue: #33C3F0 !default;
$white: #fff !default;

$family-raleway: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-seri;
